@font-face {
  font-family: 'noir pro';
  src: url('/src/assets/font/NoirPro-Medium.ttf');
}



#root {
   font-family: 'poppins', sans-serif;
  margin: 0;

 
}

/* CSS untuk menyembunyikan scrollbar */
.hide-scrollbar {
  overflow-y: scroll; /* Untuk memastikan konten bisa discroll */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Menyembunyikan scrollbar di WebKit */
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

.shadow-left-right {
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2), 4px 0 10px rgba(0, 0, 0, 0.2);
}